<div class="flash-card">
  <div class="title">
    <h2>{{ flashCard.title }}</h2>
  </div>
  <div class="info">
    <img [src]="'./assets/images/' + flashCard.imageUrl" *ngIf="flashCard.imageUrl">
    <a [href]="flashCard.link.url" *ngIf="flashCard.link">{{ flashCard.link.title }}</a>
  </div>
  <div class="answer">
    <ul>
      <li *ngFor="let answer of flashCard.options">
        <div (click)="selectedId = answer.id">
          <clr-icon shape="circle" size="24" *ngIf="selectedId !== answer.id"> </clr-icon>
          <clr-icon shape="check-circle" class="is-success" size="24" *ngIf="selectedId === answer.id"></clr-icon>
          <span> {{ answer.title }}</span>
        </div>

        <clr-icon (click)="playAudio(answer.audioUrl)" size="24" shape="headphones"> </clr-icon>
      </li>
    </ul>
  </div>
  <div class="footer">
    <clr-icon (click)="playAudio(flashCard.audioUrl)" size="24" shape="headphones">
    </clr-icon>
    <button class="btn btn-success" (click)="submitAnswer(selectedId)">Next</button>
  </div>
</div>
