@import '../../../variables';
@import '../../../mixins';

.flash-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  width: 90vw;
  background-color: $white;

  @include tablet {
    height: 100%;
    width: 100%;
    min-height: 45rem;
    min-width: 48rem;
  }

  clr-icon {
    cursor: pointer;
  }

  .title {
    text-align: center;
    padding: 0 2rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-height: 20vh;
      border-radius: 1rem;
    }

    a {
      color: #000;
    }
  }

  .answer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;

        &:not(:last-child) {
          border-bottom: 1px solid #aeaeae;
        }

        div {
          display: flex;
          align-items: center;

          clr-icon {
            margin-left: 0;
            margin-right: 1rem;
          }
        }
        clr-icon {
          margin-left: 1rem;
        }

      }

    }
  }

  .footer {
    display: flex;
    justify-content: space-between;

    clr-icon {
      margin: .5rem 1rem;
    }
  }
}
