<div class="flash-card">
  <div class="title">
    <h2>{{ flashCard.title }}</h2>
  </div>
  <div class="info">
    <img [src]="'./assets/images/' + flashCard.imageUrl" *ngIf="flashCard.imageUrl">
    <a [href]="flashCard.link.url" *ngIf="flashCard.link">{{ flashCard.link.title }}</a>
  </div>
  <div class="answer">
    <ul>
      <li *ngFor="let answer of flashCard.options">
        <button (click)="submitAnswer(answer.id)" class="btn btn-success">
          ({{ answer.id}}) {{ answer.title }} 
        </button>
        <clr-icon (click)="playAudio(answer.audioUrl)" size="24" shape="headphones">
        </clr-icon>
      </li>
    </ul>
  </div>
  <div class="footer">
    <clr-icon (click)="playAudio(flashCard.audioUrl)" size="24" shape="headphones">
    </clr-icon>
  </div>
</div>
