.flashCardResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    clr-icon.thumbs {
      color: #fff;
      margin-bottom: 2rem;
    }

  .correct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .score {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      span, clr-icon {
        font-size: 6vw; // same size as svg
      }
    }
  }

  .wrong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .answer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;

      h4 {
        color: #fff;
      }

      .headphones {
        margin-top: 1rem;
        cursor: pointer;
      }
    }
  }

  button {
    margin-top: 2rem;
    width: 60vw;
    max-width: 30rem;
  }
}
