@import '../../../variables';
@import '../../../mixins';

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1, h2, h3 {
    color: #fff;
  }
 
  button {
    width: 100%;
    color: #fff;
    background-color: $lightBlue;

    @include tablet {
      margin: 0.67em 0; // match the h1 header
    }
  }
}
