@import '../../../variables';
@import '../../../animations';

.survey {
  height: 100%;

  .background {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px) brightness(0.5);
    transition: opacity .5s ease-in-out;
  }

  .transparent {
    opacity: 0;
  }

  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: #fff;

    .score {
      margin-left: 2rem;
    }

    .status {
    }

    .theme {
      margin-right: 2rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    .flashCard {
      animation: verticalSlide 255ms ease-out forwards;
    }

    .resultCard {
      animation: fadeIn 255ms ease-out forwards;
    }
  }
}
