<div class="survey">
  <img class="background" [src]="'./assets/images/' + flashCards.backgroundUrl" *ngIf="!loading">
  <div class="info" *ngIf="!loading">
    <div class="score">
      sgòr {{ score }} 
    </div>
    <div class="status">
      {{ flashCardIndex + 1 }} / {{ numberOfFlashCards }}
    </div>
    <div class="theme">
      <span>Theme: {{ flashCards.theme }}</span>
    </div>
  </div>
 
  <div class="container" *ngIf="!loading">
    <app-flash-card 
       class="flashCard"
       *ngIf="displayFlashCard" 
       [flashCard]="flashCard" 
       (change)="submitAnswer($event)">
    </app-flash-card>
    <app-flash-card-result 
       class="resultCard"
       *ngIf="!displayFlashCard"
       [flashCardResult]="flashCardResult" 
       (change)="nextQuestion($event)">
    </app-flash-card-result>
  </div>

</div>
