@import '../../../variables';

.survey {
  height: 100%;

  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: #fff;

    .score {
      margin-left: 2rem;
    }

    .status {
    }

    .theme {
      margin-right: 2rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
