<div class="survey">
  <div class="info">
    <div class="score">
      Score: 999
    </div>
    <div class="status">
     1/20 
    </div>
    <div class="theme">
      <span>Theme: Nature</span>
    </div>
  </div>
  <div class="container">
    <app-flash-card 
      *ngIf="displayFlashCard" 
      [flashCard]="flashCard" 
      (change)="submitAnswer($event)">
    </app-flash-card>
    <app-flash-card-result 
      *ngIf="displayResult"
      [flashCardResult]="flashCardResult" 
      (change)="nextQuestion($event)">
    </app-flash-card-result>
  </div>
</div>
