<div class="survey">
  <div class="info">
    <div class="score">
      Score: {{ score }} 
    </div>
    <div class="status" *ngIf="!loading">
      {{ flashCardIndex + 1 }} / {{ numberOfFlashCards }}
    </div>
    <div class="theme">
      <span>Theme: {{ theme }}</span>
    </div>
  </div>
  <div class="container" *ngIf="!loading">
    <app-flash-card 
       [@flyInOut]
      *ngIf="displayFlashCard" 
      [flashCard]="flashCard" 
      (change)="submitAnswer($event)">
    </app-flash-card>
    <app-flash-card-result 
       [@flyInOut]
      *ngIf="!displayFlashCard"
      [flashCardResult]="flashCardResult" 
      (change)="nextQuestion($event)">
    </app-flash-card-result>
  </div>
</div>
