@import '../../../variables';
@import '../../../mixins';
@import '../../../animations';

.survey {
  display: flex;
  flex-direction: column;
  height: 100%;

  .background {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    filter: blur(3px) brightness(0.5);
  }

  .info {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #fff;

    .score {
      margin-left: 2rem;
      display: none;
    }

    .status {
    }

    .theme {
      margin-right: 2rem;
      display: none;
    }

    @include tablet {
      .theme, .score {
        display: flex;
      }
      justify-content: space-between;
    }

  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .flashCard {
      animation: verticalSlide 550ms ease-in forwards;
    }

    .resultCard {
      animation: fadeInFlex 255ms ease-in forwards;
    }
  }
}
