@import '../../../variables';
@import '../../../mixins';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .container {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h1 {
    color: #fff;
    font-weight: 600;
  }

  p {
    color: #fff;
    text-align: center; 
    font-weight: 300;
    padding: 0 2rem;
    max-width: 35rem;
  }

  .muilti {
    h2, li {
      color: #fff;
    }
  }

  button {
    margin: 0;
    width: 100%;
    color: #fff;
    background-color: $lightBlue;
    margin-top: 2rem;

    @include tablet {
      margin: 0.67em 0; // match the h1 header
    }
  }
}
