@import '../../../variables';
@import '../../../mixins';

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  h1 {
    color: #fff;
    font-weight: 600;
  }

  .howTo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      color: #fff;
      text-align: center;
    }
  }

  p {
    color: #fff;
    text-align: center; 
    font-weight: 300;
    padding: 0 2rem;
    max-width: 35rem;
  }

  button {
    margin: 0;
    width: 100%;
    color: #fff;
    background-color: $lightBlue;

    @include tablet {
      margin: 0.67em 0; // match the h1 header
    }
  }
}
