.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60vw;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.23);

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        text-align: center;
      }
    }
  }
}
