/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';
@import 'animations';

* {
  margin: 0;
  padding: 0;
  overflow: auto;
}

html, body { 
  height: 100%; 
  width: 100%; 
}


h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}

